html, body {
  margin: 0;
  padding: 0;
  background-color: #050510;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}
body {
  position:absolute;
}
canvas {
  display: block;
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#top-container {
  position: absolute;
  display: flex;
  align-items: flex-start;
  margin: 0px;
}
#top-container * {
  position: relative;
}

#menuButton {
  background-color: transparent;
  padding: 0px;
  margin: 6px;
  border-radius: 50%;
  border: none;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  touch-action: none;
}

#settingsDiv {
  display: none;
  max-height: 90vh;
  overflow-y: auto;
  padding: 10px;
  margin-top: 6px;

  background-color: #202020D0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  border-radius: 12px;
  color: #ffffff80;
}

#settingsDiv h3 {
  font-size: 15px;
  color: #ffffff90;
  font-weight: 600;
  padding: 0px;
  margin: 2px;
  margin-bottom: 8px;
}

#settingsDiv .tabs {
  list-style: none;
  display: flex;
  padding: 0px;
  margin: 0px;
  width: 340px;
  gap: 2px;
  margin-bottom: 10px;
}

#settingsDiv button, #settingsDiv .tabs li {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 10px 14px;
  font-size: 15px;
  font-weight: 500;

  background-color: #ffffff15;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);

  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#settingsDiv .tabs li.active {
  background-color: #ffffff35;
}

#settingsDiv .content > div {
  display: none;
}

#settingsDiv .content > div.active {
  display: block;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-label {
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 5px;
  margin-left: 2px;
  user-select: none;
  -webkit-user-select: none;
}

.input-field {
  font-family: monospace;
  border: none;
  background-color: #00000090;
  color: #ffffffE0;
  flex: 1;
  width: 340px;
  padding: 10px 10px;
  font-size: 16px;
  border-radius: 6px;
}

#bottom-container {
  position: absolute;
  top: 0px;
}
#bottom-container * {
  position: relative;
}

@media (orientation: portrait) and (max-width: 767px) {
  #top-container {
    flex-direction: column;
  }
  #settingsDiv {
    position: absolute;
    top: 44dvh;
    max-height: 50dvh;
    width: calc(100vw - 20px);
  }
  .input-field {
    width: calc(100vw - 40px);
  }
}
