html, body {
  margin: 0;
  padding: 0;
  background-color: #050510;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}
body {
  position:absolute;
}
canvas {
  display: block;
}
#top-container {
  position: absolute;
  display: flex;
  align-items: flex-start;
}
#top-container * {
  /* flex-basis: main-size;
  flex-shrink: 0; */
  position: relative;
  margin: 5px;
}
button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 20px 16px;
  font-size: 14px;
  font-weight: 500;

  background-color: #33333390;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);

  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#menuButton {
  background-color: transparent;
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
  padding: none;
  margin: 10px;
  border-radius: 50%;
  height: 72px;
  width: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

#settingsDiv {
  display: none;

  background-color: #33333370;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);

  border-radius: 6px;
  color: #ffffffa0;
}

.input-row {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

.input-label {
  width: 200px;
  /* text-align: right; */
  margin-right: 10px;
  font-size: 15px;
}

.input-field {
  font-family: monospace;
  border: none;
  background-color: #333333B0;
  color: #ffffff;
  flex: 1;
  width: 300px;
  padding: 6px 10px;
  font-size: 15px;
}

#bottom-container {
  position: absolute;
  top: 0px;
}
#bottom-container * {
  position: relative;
}